.dycalendar-container{
    display: inline-block;
    border: 1px solid #eee;
}
.dycalendar-container.round-edge{
    -moz-border-radius: 5%;
    -o-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
}
.dycalendar-day-container{
    font-family: Arial;
    padding: 10px;
    text-align: center;
}
.dycalendar-day-container div{
    margin-bottom: 10px;
    padding: 0;
}
.dycalendar-day-container .dycalendar-span-day{
    font-size: 110%;
}
.dycalendar-day-container .dycalendar-span-date{
    font-size: 250%;
}
.dycalendar-day-container .dycalendar-span-month-year{
    font-size: 90%
}
.dycalendar-month-container{
    font-family: Arial;
    padding: 10px;
    text-align: center;
}
.dycalendar-month-container div{
    margin-bottom: 10px;
    padding: 0;
}
.dycalendar-month-container .dycalendar-header{
    position: relative;
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn{
    position: absolute;
    cursor: pointer;
    top: 0;
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn{
    left: 0;
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn{
    right: 0;
}
.dycalendar-month-container .dycalendar-span-month-year{
    margin: 5px;
    cursor: pointer;
}
.dycalendar-month-container .dycalendar-body table tr td{
    padding: 5px;
}
.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date{
    color: #fff;
    border-radius: 2px;
    background-color: #111;
}
.dycalendar-container.gradient{
    background: #fff;
    background: linear-gradient(#fff, #d3d3d3);
    background: -o-linear-gradient(#fff, #d3d3d3);
    background: -moz-linear-gradient(#fff, #d3d3d3);
    background: -webkit-linear-gradient(#fff, #d3d3d3);
}
.dycalendar-container.skin-black{
    color: #fff;
    border: 0;
    background-color: #111;
}
.dycalendar-container.skin-black.gradient{
    background: #111;
    background: linear-gradient(#555, #111);
    background: -o-linear-gradient(#555, #111);
    background: -moz-linear-gradient(#555, #111);
    background: -webkit-linear-gradient(#555, #111);
}
.dycalendar-container.skin-black .dycalendar-today-date,
.dycalendar-container.skin-black .dycalendar-target-date{
    color: #111;
    border-radius: 2px;
    background-color: #fff;
}
.dycalendar-container.skin-blue{
    color: #fff;
    border: 0;
    background-color: #3c99d3;
}
.dycalendar-container.skin-blue.gradient{
    background: #3c99d3;
    background: linear-gradient(#5ebbf5, #3c99d3);
    background: -o-linear-gradient(#5ebbf5, #3c99d3);
    background: -moz-linear-gradient(#5ebbf5, #3c99d3);
    background: -webkit-linear-gradient(#5ebbf5, #3c99d3);
}
.dycalendar-container.skin-blue .dycalendar-today-date,
.dycalendar-container.skin-blue .dycalendar-target-date{
    color: #3c99d3;
    border-radius: 2px;
    background-color: #fff;
}
.dycalendar-container.skin-green{
    color: #fff;
    border: 0;
    background-color: #2bb063;
}
.dycalendar-container.skin-green.gradient{
    background: #2bb063;
    background: linear-gradient(#3dd175, #2bb063);
    background: -o-linear-gradient(#3dd175, #2bb063);
    background: -moz-linear-gradient(#3dd175, #2bb063);
    background: -webkit-linear-gradient(#3dd175, #2bb063);
}
.dycalendar-container.skin-green .dycalendar-today-date,
.dycalendar-container.skin-green .dycalendar-target-date{
    color: #2bb063;
    border-radius: 2px;
    background-color: #fff;
}
.dycalendar-container.skin-purple{
    color: #fff;
    border: 0;
    background-color: #975ea4;
}
.dycalendar-container.skin-purple.gradient{
    background: #975ea4;
    background: linear-gradient(#ca82d7, #975ea4);
    background: -o-linear-gradient(#ca82d7, #975ea4);
    background: -moz-linear-gradient(#ca82d7, #975ea4);
    background: -webkit-linear-gradient(#ca82d7, #975ea4);
}
.dycalendar-container.skin-purple .dycalendar-today-date,
.dycalendar-container.skin-purple .dycalendar-target-date{
    color: #975ea4;
    border-radius: 2px;
    background-color: #fff;
}
.dycalendar-container.skin-red{
    color: #fff;
    border: 0;
    background-color: #e94d40;
}
.dycalendar-container.skin-red.gradient{
    background: #e94d40;
    background: linear-gradient(#fb6f62, #e94d40);
    background: -o-linear-gradient(#fb6f62, #e94d40);
    background: -moz-linear-gradient(#fb6f62, #e94d40);
    background: -webkit-linear-gradient(#fb6f62, #e94d40);
}
.dycalendar-container.skin-red .dycalendar-today-date,
.dycalendar-container.skin-red .dycalendar-target-date{
    color: #e94d40;
    border-radius: 2px;
    background-color: #fff;
}
.dycalendar-container.skin-spacegray{
    color: #fff;
    border: 0;
    background-color: #343d46;
}
.dycalendar-container.skin-spacegray.gradient{
    background: #343d46;
    background: linear-gradient(#454e57, #343d46);
    background: -o-linear-gradient(#454e57, #343d46);
    background: -moz-linear-gradient(#454e57, #343d46);
    background: -webkit-linear-gradient(#454e57, #343d46);
}
.dycalendar-container.skin-spacegray .dycalendar-today-date,
.dycalendar-container.skin-spacegray .dycalendar-target-date{
    color: #343d46;
    border-radius: 2px;
    background-color: #fff;
}
.dycalendar-container.shadow-default{
    -moz-box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
    -o-box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
    -webkit-box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
    box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
}
.dycalendar-container.shadow-black{
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}
.dycalendar-container.shadow-blue{
    -moz-box-shadow: 0 4px 4px 0 rgba(60, 153, 211, 0.4);
    -o-box-shadow: 0 4px 4px 0 rgba(60, 153, 211, 0.4);
    -webkit-box-shadow: 0 4px 4px 0 rgba(60, 153, 211, 0.4);
    box-shadow: 0 4px 4px 0 rgba(60, 153, 211, 0.4);
}
.dycalendar-container.shadow-green{
    -moz-box-shadow: 0 4px 4px 0 rgba(43, 176, 99, 0.4);
    -o-box-shadow: 0 4px 4px 0 rgba(43, 176, 99, 0.4);
    -webkit-box-shadow: 0 4px 4px 0 rgba(43, 176, 99, 0.4);
    box-shadow: 0 4px 4px 0 rgba(43, 176, 99, 0.4);
}
.dycalendar-container.shadow-purple{
    -moz-box-shadow: 0 4px 4px 0 rgba(151, 94, 164, 0.4);
    -o-box-shadow: 0 4px 4px 0 rgba(151, 94, 164, 0.4);
    -webkit-box-shadow: 0 4px 4px 0 rgba(151, 94, 164, 0.4);
    box-shadow: 0 4px 4px 0 rgba(151, 94, 164, 0.4);
}
.dycalendar-container.shadow-red{
    -moz-box-shadow: 0 4px 4px 0 rgba(233, 77, 64, 0.4);
    -o-box-shadow: 0 4px 4px 0 rgba(233, 77, 64, 0.4);
    -webkit-box-shadow: 0 4px 4px 0 rgba(233, 77, 64, 0.4);
    box-shadow: 0 4px 4px 0 rgba(233, 77, 64, 0.4);
}
.dycalendar-container.shadow-spacegray{
    -moz-box-shadow: 0 4px 4px 0 rgba(52, 61, 70, 1);
    -o-box-shadow: 0 4px 4px 0 rgba(52, 61, 70, 1);
    -webkit-box-shadow: 0 4px 4px 0 rgba(52, 61, 70, 1);
    box-shadow: 0 4px 4px 0 rgba(52, 61, 70, 1);
}
